# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/standalone_admin_password.txt

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# ML
ml/models/*.pkl
ml/models/*.pth
mlruns/

# Data
data/
*.csv
*.parquet

# Environment
.env
.env.*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
